/*
==========================
LAPTOP, TABLET DESKTOPS
=========================
*/
.places {
    /* border: 1px solid black; */
}
.places-title {
    padding: 20px 20px;
}
.places h1 {
    font-size: 30px;
}

.places-articles {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-flow: row wrap;
    /* border: 1px solid black; */
}

.places-articles .container-article:last-of-type {
    margin-top: 10px;
}

.places article {
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    margin-top: -10px;
    text-align: center;
    position: relative;
}
.price-and-name {
    /* border: 1px solid black; */
    height: 30px;
}
.price-and-name:first-child {
    text-align: center;
}

.place-name {
    width: 66.66%;
    padding-left: 20px;
}
.place-name h2 {
    font-size: 30px;
}

.price_by_night {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FF5A5F;
    color: #FF5A5F;
    position: absolute;
    left: 80%;
    top: 2%;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.information {
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 35px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.max_guest, .number_rooms, .number_bathrooms {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    /* border: 1px solid black; */
    margin: auto;
}
.max_guest {
    background: url(../images/guest_icon.png) center no-repeat;
}
.number_rooms {
    background: url(../images/bed_icon.png) center no-repeat;
}
.number_bathrooms {
    background: url(../images/bathroom_icon.png) center no-repeat;
}

.user {
    margin: 20px 0;
    /* border: 1px solid black; */
    text-align: left;
}
.user .owner-name {
    font-weight: bold;
}

.description {
    /* border: 1px solid black; */
    text-align: left;
    margin-bottom: 20px;
}

.container-article .amenities, .container-article .reviews {
    /* border: 1px solid black; */
    margin-top: 40px;
    width: 100%;
    text-align: left;
}

.container-article .amenities h2, .container-article .reviews h2 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
}
.amenity-list, .review-list {
    width: 100%;
    /* border: 1px solid black; */

}
.amenity-list ul, .review-list {
    /* border: 1px solid black; */
    list-style: none;
}
.amenity-list ul li, .review-list ul li {
    font-size: 13px;
    line-height: 30px;
    /* border: 1px solid black; */
}

.amenity-list ul li::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: -5px;
    height: 20px;
    width: 20px;
    /* border: 1px solid black; */

}
.amenity-list ul li:first-of-type::before {
    background: url("../images/icon_tv.png") center no-repeat;
    background-size: 15px;
}

.amenity-list ul li:nth-of-type(2)::before {
    background: url("../images/icon_wifi.png") center no-repeat;
    background-size: 15px;
}

.amenity-list ul li:nth-of-type(3)::before {
    background: url("../images/icon_pets.png") center no-repeat;
    background-size: 15px;
}

.reviews ul.review-list {
    margin-top: 10px;
}

.reviews ul.review-list li {
    margin-bottom: 10px;
}
.review-list h3 {
    font-weight: bold;
    /* padding-bottom: 10px; */
}

/*
================================
MOBILE VIEW
================================
*/
@media only screen and (max-width: 600px) {
    .places {
        border: 1px solid black;
        width: 100%;
    }

    .places article {
        width: 70%;
    }
    .price-and-name {
        /* border: 1px solid black; */
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 30px;
    }
    
    .place-name h2 {
        font-size: 1.5rem;
        /* border: 1px solid black; */
    }
    .price_by_night {
        left: 77%;
        min-width: 3rem;
        height: 3rem;
        font-size: 1.3rem;
    }
}