header {
    display: flex;
    align-items: center;
    background:#ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    background: url("../images/holberton-logo.png") 20px 50% no-repeat;
    padding-left: 20px;
    margin-left: 10px;
    height: 50px;
    width: 150px;
    /* border: 1px solid black; */
}

header .logo:hover {
    cursor: pointer;
}

/*
================================
MOBILE VIEW
================================
*/
@media only screen and (max-width: 600px) {
    header {
        height: 3rem;
        justify-content: center;
    }

    header .logo {
        background: url("../images/holberton-logo.png") contain no-repeat;
    }
}