.filters {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
    
.filters > button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
.filters button:hover {
    opacity: 0.9;
}

.filters div:first-of-type {
    border-right: 1px solid #DDDDDD;
}

.filters .locations, .filters .amenities {
    position: relative;
    /* text-align: left; */
    height: 100%;
    width: 25%;
}
.filters .locations h3, .filters .amenities h3 {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    padding-left: 50px;
    width: 100%;
    font-weight: 600;
}
.filters .locations h4, .filters .amenities h4{
    margin: 0;
    padding: 0;
    padding-left: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.filters .list-states {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: left;
    z-index: 1;
}

.filters .amenities li {
    line-height: 40px;
}

ul.popover {
    list-style: none;
    padding: 10px 10px 0px 60px;
    /* text-align: center; */
    line-height: 20px;
}

ul.popover li {
    padding-bottom: 5px;
}

ul.popover h2 {
    font-size: 16px;
    font-weight: bold;
}
.popover li:first-of-type {
    padding-top: 0;
}
.pop-list li {
    margin: 0;
    padding-left: 10px;
    padding-top: 0px;
    list-style-type: none;
}

.locations:hover .list-states, .amenities:hover .list-states {
    display: block;
}

/*
================================
MOBILE VIEW
================================
*/
@media only screen and (max-width: 600px) {
    .filters {
        width: 98%;
        align-items: center;
        height: 50px;
        /* border: 1px solid black; */
        margin-bottom: 0.6rem;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 3px; 
    }
    .filters > button {
        right: 0.6rem;
        font-size: 0.7rem;
        height: 2.5em;
        width: 30%;
    }
    .filters .locations h3, .filters .amenities h3 {
        font-size: 0.9rem;
        margin-top: 0.6rem;
        padding: 0 10px 5px 5px;
    }
    .filters .locations h4, .filters .amenities h4{
        padding: 0 10px 5px 5px;
        width: 100%;
        font-size: 0.7rem;
        font-weight: 500;
    }
    
    .filters .list-states {
        display: none;
        position: absolute;
        top: 100%;
        width: 150px;
        background: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        text-align: left;
        z-index: 1;
    }

    .locations .list-states {
        width: 120%;
    }
    
    ul.popover {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        list-style: none;
        padding: 10px 10px 0px 10px;
        line-height: 20px;
    }

}