.places {
    /* border: 1px solid black; */
}
.places-title {
    padding: 20px 20px;
}
.places h1 {
    font-size: 30px;
}

.places-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* border: 1px solid black; */
}

.places-articles .container-article:last-of-type {
    margin-top: 10px;
}

.places article {
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    margin-top: -10px;
    text-align: center;
    position: relative;
}
.price-and-name {
    /* border: 1px solid black; */
    height: 30px;
}
.price-and-name:first-child {
    text-align: center;
}

.col-2-3 {
    width: 66.66%;
    padding-left: 20px;
    /* border: 1px solid black; */
}
.col-2-3 h2 {

    font-size: 30px;
}

.price_by_night {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FF5A5F;
    color: #FF5A5F;
    position: absolute;
    left: 80%;
    top: 3%;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.information {
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 35px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.max_guest, .number_rooms, .number_bathrooms {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    /* border: 1px solid black; */
    margin: auto;
}
.max_guest {
    background: url(../images/guest_icon.png) center no-repeat;
}
.number_rooms {
    background: url(../images/bed_icon.png) center no-repeat;
}
.number_bathrooms {
    background: url(../images/bathroom_icon.png) center no-repeat;
}

.user {
    margin: 20px 0;
    /* border: 1px solid black; */
    text-align: left;
}
.user .owner-name {
    font-weight: bold;
}

.description {
    /* border: 1px solid black; */
    text-align: left;
    margin-bottom: 20px;

}